{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/restaurants/navbar.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/restaurants/restaurant_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/restaurants/restaurant_edit_profile.css' %}">
    <title>Homepage</title>
</head>
<body>     
    <div class="profile-container">
        <h2>✏️ Edit Restaurant Profile</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="profile-form">
                <div class="form-section">
                    <h3>🔐 User Info</h3>
                    {{ form_user.as_p }}
                </div>

                <div class="form-section">
                    <h3>🏪 Restaurant Info</h3>
                    {{ form_res.as_p }}
                </div>

                <button type="submit" class="edit-btn">💾 Save Changes</button>
            </div>
        </form>
    </div>
    
</body>
</html>