.main {
    display: flex;
    justify-content: center;
}
.fullcontainer{    
    width: 500px;
    height: 300px;
    background-color: white;    
    margin: 80px auto 100px auto;  /* space from top and bottom */
    border: 1px solid;
    border-radius: 20px;
}
.fullcontainer form{
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 0;
}
h1{
    color: white;
    background-color: orange;
    margin-bottom: 3%;
    text-align: center;
    border-radius: 20px 20px 0 0;
}
.username-field{
    outline: none;
    font-size: 20px;
    height: 50px;
    width: 80%;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 1px solid;
}
.password-field{
    outline: none;
    font-size: 20px;
    height: 50px;     /* % not working */
    width: 80%;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 1px solid;
}
#signin{
    background-color: blue;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 80%;    
}
.input{    
    position: relative;
    left: 10%;
    top: 15%;
}