{% extends 'delivery/shared/base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/delivery/delivery_agent_profile.css' %}">
{% endblock extra_styles %}

{% block title %} 
Profile
{% endblock title %}

{% block content %}
<div class="profile-container">
<h2>👤 My Profile</h2>
    <img class="profile-pic-large" src="{{user.deliveryagentprofile.profile_pic.url}}" alt="">


<div class="profile-info">
    <p><span>🛵 Role:</span>Delivery Agent</p>
    <p><span>📛 Username:</span>{{user.username}}</p>
    <p><span>📧 Email:</span>{{user.email}}</p>
    <p><span>📱 Phone:</span>{{user.deliveryagentprofile.phone}}</p>
    <p><span>🏠 Address:</span>{{user.deliveryagentprofile.address}}</p>
</div>

<a href="{% url 'delivery_agent_edit_profile' %}" class="edit-btn">✏️ Edit Profile</a>
</div>
{% endblock content %}