{% extends 'restaurants/shared/base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/restaurants/restaurant_profile.css' %}">
{% endblock extra_styles %}

{% block title %} 
Profile
{% endblock title %} 

{% block content %}
<div class="profile-container">
    <h2>🍽️ Restaurant Profile</h2>
    <img class="logo" src="{{user.restaurant.logo.url}}" alt="">

    <div class="profile-info">        
        <p><span>🏬 Restaurant Name:</span>{{user.restaurant.restaurant_name}}</p>
        <p><span>📧 Email:</span>{{user.restaurant.restaurant_email}}</p>
        <p><span>📱 Phone:</span>{{user.restaurant.phone}}</p>
        <p><span>🏠 Address:</span>{{user.restaurant.address}}</p>
        <p><span>📧 Description:</span>{{user.restaurant.description}}</p>
    </div>

    <!-- <button class="edit-btn">✏️ Edit Profile</button> -->
        <a href="{% url 'restaurant_edit_profile' %}" class="edit-btn">✏️ Edit Profile</a>

</div>
{% endblock content %}
